<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['']">About</a></li>
        <li><a [routerLink]="['/carpart']">CarPart</a></li>
        <li><a [routerLink]="['/race']">Race</a></li>
        <li><a [routerLink]="['/carpartform']">CarPartFrom</a></li>
      </ul>
    </div>
  </div>
</nav>
<main role="main">
  <router-outlet></router-outlet>
</main>
<!--The content below is only a placeholder and can be replaced.-->
  <!--&lt;!&ndash;<img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">&ndash;&gt;-->

  <!--&lt;!&ndash;Interpolation&ndash;&gt;-->
  <!--&lt;!&ndash;<img width="300" alt="Angular Logo" src={{imageUrl}}>&ndash;&gt;-->

  <!--&lt;!&ndash;Property Binding&ndash;&gt;-->
  <!--<img width="300" alt="Angular Logo" [src]="imageUrl">-->
  <!--<br>-->
  <!--&lt;!&ndash;Event Binding&ndash;&gt;-->
  <!--<button (click)="myHandler($event)"> Click... </button>-->

  <!--<h2>현재 날짜는 {{today | date:'yyyy-MM-dd HH:mm EEEE'}}</h2>-->

  <!--<app-car-part></app-car-part>-->


<!--<h2>Here are some links to help you start: </h2>-->
<!--<ul>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>-->
  <!--</li>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>-->
  <!--</li>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>-->
  <!--</li>-->
<!--</ul>-->

